@model BlogDetailModel

@{
    Layout = "_Layout";
}
<link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/web2/js/move-top.js"></script>
<script type="text/javascript" src="~/web2/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<div class="single">
	<div class="container">
		<div class="col-md-8 single-main">
			<div class="single-grid">
				<img src="@Model.Blog.BlogImage" alt=""/>
				<a href="~/Default/BlogDetail/@Model.Blog.BlogId"><h2>@Model.Blog.Title</h2></a>
				<p>@Model.Blog.Description</p>
			</div>
			@if (@Model.Commant.Count > 0)
			{
				<ul class="comment-list">
					@foreach (var item in Model.Commant)
					{
						<li><img src="~/web2/images/avatar.png" class="img-responsive" alt="">
							<div class="desc">
								<p>@item.UserName: @item.CommantText</p>
							</div>
							<div class="clearfix"></div>
						</li>
						<br/>
					}
				</ul>
			}
			else
			{
				<ul class="comment-list">
					<li>
						<p>Yorum Yok</p>
					</li>
				</ul>
			}
			@await Component.InvokeAsync("_BlogConmmantComponentPartial", new { blogId = Model.Blog.BlogId })
		</div>

		<div class="col-md-4 side-content">
			<div class="recent">
				<h3>Son Bloglar</h3>
				<ul>
					@foreach (var item in Model.LastBlog)
					{
						<li><a href="~/Default/BlogDetail/@item.BlogId">@item.Title</a></li>
					}
				</ul>
			</div>
			<div class="comments">
				<h3>Son Yorumlar</h3>
				<ul>
					<li><a href="#">Amada Doe </a> on <a href="#">Hello World!</a></li>
					<li><a href="#">Peter Doe </a> on <a href="#"> Photography</a></li>
					<li><a href="#">Steve Roberts </a> on <a href="#">HTML5/CSS3</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>